        * {
            box-sizing: border-box !important;
        }
        
        * h1 {
            font-size: clamp(1.8rem, 0.4rem + 4.5vw, 3rem);
        }
        
        * h2 {
            font-size: clamp(1.2rem, 0.4rem + 4.5vw, 2.5rem);
        }
        
        *h3 {
            font-size: clamp(0.8rem, 0.4rem + 4.5vw, 2.0rem);
        }
        
        *p {
            font-size: clamp(0.6rem, 0.4rem + 4.5vw, 1.8rem)
        }
        
        html {
            font-size: 16px;
        }
        
        body {
            padding: 0;
            margin: 0;
        }
        
        .contentcontainerheader {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            min-height: 1rem;
        }
        
        .contentheader {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            min-height: 4rem;
            font-weight: bold;
        }
        
        .contentheader nav {
            display: flex;
            justify-content: center;
        }
        
        .contentheader nav ul {
            padding: 1rem;
            margin: 0rem;
        }
        /*here End´s the Desktop Header Section */
        
        .contentcontainerlearn {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: grey;
            min-height: 1rem;
            max-width: 100%;
        }
        
        .contentlearn {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            background-color: grey;
            padding-top: clamp(0.0rem, 0.1rem + 2vw, 1.75rem);
            padding-left: clamp(0.0rem, 0.1rem + 2vw, 1.5rem);
            padding-right: clamp(0.0rem, 0.1rem + 2vw, 1.5rem);
            padding-bottom: clamp(0.0rem, 0.1rem + 2vw, 1.75rem);
            min-height: 1rem;
            width: 100%;
        }
        
        .contentlearn img {
            max-width: 100%;
            height: auto;
        }